<div class="container">
    <h1 class="contact-heading" i18n="@@contactFormTitle">{{ 'HomeMain.Contact' | translate }}</h1>
    <div class="row center-xs">
        <div class="col-md-8 col-xs-12">
            <p class="contact-heading-description" i18n="@@contactHeadingDescription">{{ 'HomeMain.ContactDescription' | translate }}</p>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-md-4 col-xs-12">
            <div class="row center-xs">
                <div class="col-xs-12">
                    <mat-icon>mail</mat-icon>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-12">
                    <p class="contact-type-text">
                        <a [href]="'mailto:' + email" class="contact-mail">{{email}}</a>
                    </p>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-12">
                    <mat-icon>phone</mat-icon>
                </div>
            </div>
            <div class="row center-xs">
                <div class="col-xs-12">
                    <p class="contact-type-text">
                        <a [href]="'tel:' + phone" class="contact-phone">{{phone}}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>
