<div class="about-me-background">
    <div class="container">
        <h1 class="about-me-heading">About me</h1>
        <p class="about-me-description">{{description}}</p>
        <div class="row">
            <div class="col-md-6 col-xs-12 tech-section">
                <h3>
                    Technologies by knowledge
                </h3>
                <h4>Well known:</h4>
                <mat-chip-list>
                    <mat-chip *ngFor="let tech of wellKnownTechs" selected style="background-color: #7FFFD4; color: #000">
                        {{tech.Name}}
                    </mat-chip>
                </mat-chip-list>
                <h4>Enough to work with:</h4>
                <mat-chip-list>
                    <mat-chip *ngFor="let tech of enoughKnownTechs" selected style="background-color: #ADD8E6; color: #000">
                        {{tech.Name}}
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div class="col-md-6 col-xs-12">
                <h3 class="opinions-header">Opinions about my work</h3>
                <mat-card class="quote">
                    <p>{{opinion.Content}}</p>
                    <p class="author">{{opinion.Author}} <span *ngIf="opinion.Position">- {{opinion.Position}}</span></p>
                    <div class="link-group">
                        <button mat-mini-fab color="primary" *ngIf="opinion.Website"><mat-icon>public</mat-icon></button>
                        <button mat-mini-fab color="primary" *ngIf="opinion.Github"><i class="fab fa-github"></i></button>
                        <button mat-mini-fab color="primary" *ngIf="opinion.LinkedIn"><i class="fab fa-linkedin-in"></i></button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>