<div class="main-top-container">
    <div class="main-top-section">
        <h1 class="main-top-fullname">JAKUB KOWALSKI</h1>
        <h2 class="main-top-position">.NET Developer</h2>
        <div class="main-top-details">{{topDescription}}</div>
        <br />
        <div class="main-top-check-details">
            <button mat-raised-button color="primary" class="main-top-check-details-fab">
                <mat-icon>expand_more</mat-icon>
                Check details
            </button>
        </div>
    </div>
    <img [src]="topImageUrl" class="main-top-image" />
</div>