<mat-toolbar>
    <mat-toolbar-row>
        <span>Jakub Kowalski</span>
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="scroll('offer')">My offer</button>
        <button mat-button (click)="scroll('about')">About me</button>
        <button mat-button (click)="scroll('contact')">Contact</button>
    </mat-toolbar-row>
</mat-toolbar>

<app-home-main-top-section 
    [topImageUrl]="mainPageData.topImageUrl" 
    [topDescription]="mainPageData.topDescription"
    [title]="mainPageData.title"
    [subTitle]="mainPageData.subTitle"
    (detailsClick)="scroll('offer')">
</app-home-main-top-section>

<app-home-services [services]="mainPageData.offerItems" id="offer"></app-home-services>

<app-about-me-section [description]="mainPageData.aboutMeDescription" [technologies]="mainPageData.knownTechnologies" id="about"></app-about-me-section>

<app-contact-section [phone]="mainPageData.phone" [email]="mainPageData.email" id="contact"></app-contact-section>

<app-footer
    [facebook]="mainPageData.facebook"
    [linkedIn]="mainPageData.linkedIn"
    [gitHub]="mainPageData.gitHub"
    [gitLab]="mainPageData.gitLab">
</app-footer>