<div class="container footer-container">
    <div class="row between-xs center-xs">
        <div class="col footer-fabs-container">
            <a *ngIf="facebook" [href]="facebook" target="_blank">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </a>
            <a *ngIf="linkedIn" [href]="linkedIn" target="_blank">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-linkedin-in"></i>
                </button>
            </a>
            <a *ngIf="gitHub" [href]="github" target="_blank">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-github"></i>
                </button>
            </a>
            <a *ngIf="gitLab" [href]="gitLab" target="_blank">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-gitlab"></i>
                </button>
            </a>
        </div>
        <div class="col">
            <p class="copyright">Copyright 2019. Wszelkie prawa zastrzeżone.</p>
        </div>
    </div>
</div>