.footer-container {
    border-top: 1px lightgrey solid;
    padding: 1rem;
    margin-top: 1rem;
}

.footer-fabs-container > a {
    margin-right: 1rem;
}

.footer-fab {
    color: white !important;
    background-color: black !important;
}

.copyright {
    font-family: Roboto;
}