<div class="container footer-container">
    <div class="row between-xs center-xs">
        <div class="col footer-fabs-container">
            <a href="#">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </a>
            <a href="#">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-linkedin-in"></i>
                </button>
            </a>
            <a href="#">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-github"></i>
                </button>
            </a>
            <a href="#">
                <button mat-mini-fab class="footer-fab">
                    <i class="fab fa-gitlab"></i>
                </button>
            </a>
        </div>
        <div class="col">
            <p class="copyright">Copyright 2019. Wszelkie prawa zastrzeżone.</p>
        </div>
    </div>
</div>