<form [formGroup]="contactForm" (submit)="onContactFormSubmit()">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <mat-form-field>
                <input
                    matInput
                    [placeholder]="'HomeMain.ContactForm.Name' | translate"
                    type="text"
                    formControlName="name"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="contactForm.controls['name'].hasError('required')">{{ 'HomeMain.ContactForm.NameIsRequiredError' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-xs-12">
            <mat-form-field>
                <input
                    matInput
                    [placeholder]="'HomeMain.ContactForm.Email' | translate"
                    type="email"
                    formControlName="email"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="contactForm.controls['email'].hasError('email') && !contactForm.controls['email'].hasError('required')">
                    {{ 'HomeMain.ContactForm.EmailAddressInvalidError' | translate }}
                </mat-error>
                <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
                    {{ 'HomeMain.ContactForm.EmailAddressRequiredError' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-xs-12">
            <mat-form-field>
                <input
                    matInput
                    [placeholder]="'HomeMain.ContactForm.Subject' | translate"
                    type="text"
                    formControlName="subject"
                    [errorStateMatcher]="matcher">
                <mat-error *ngIf="contactForm.controls['subject'].hasError('required')">
                    {{ 'HomeMain.ContactForm.SubjectRequiredError' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-xs-12">
            <mat-form-field>
                <textarea
                    matInput
                    [placeholder]="'HomeMain.ContactForm.Details' | translate"
                    rows="3"
                    formControlName="details"
                    [errorStateMatcher]="matcher">
                </textarea>
                <mat-error *ngIf="contactForm.controls['details'].hasError('required')">
                    {{ 'HomeMain.ContactForm.DetailsRequiredError' | translate }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-xs-12">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!contactForm.valid || requestProcessing">
                <mat-icon>send</mat-icon> {{ 'HomeMain.ContactForm.SendButton' | translate }}
            </button>
        </div>
    </div>
</form>
